<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!------------BOOTSTRAP CSS------------>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/css/homepage.css" />
    <title>Intern Exp</title>
  </head>

  <body>
    <!------------NAVBAR------------>
    <nav class="navbar navbar-expand-lg navbar-background sticky-top">
      <a class="navbar-brand" href="#">
        <img src="../public/img/logo.png" class="navbar-logo" />Internship</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"> </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link m-2" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2" href="#">Companies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2" href="#">Team</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-1 m-2 my-sm-0" type="submit">SignIn</button>
          <button class="btn btn-1 m-2 my-sm-0" type="submit">
            Chat With Us
          </button>
        </form>
      </div>
    </nav>
  </body>
</html>
