<!------------NAVBAR------------>
<nav class="navbar navbar-expand-lg navbar-background sticky-top">
  <a class="navbar-brand" href="#">
    <img src="../public/img/logo.png" class="navbar-logo" />Internship</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <!-- NAVBAR DROPDOWN ICON -->
    <span class="navbar-toggler-icon">
      <div
        style="width: 100%; height: 20%; background: white; border-radius: 10%"
      ></div>
      <div style="width: 100%; height: 20%; background: black"></div>
      <div
        style="width: 100%; height: 20%; background: white; border-radius: 10%"
      ></div>
      <div style="width: 100%; height: 20%; background: black"></div>
      <div
        style="width: 100%; height: 20%; background: white; border-radius: 10%"
      ></div>
    </span>
    <!-- NAVBAR DROPDOWN ICON ENDS -->
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link m-2" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link m-2" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link m-2" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link m-2" href="#">Companies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link m-2" href="#">Team</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="btn btn-1 m-2 my-sm-0">SignIn</a>
      <a class="btn btn-1 m-2 my-sm-0">Chat With Us</a>
    </form>
  </div>
</nav>
